.sidebarRow__ {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.sidebarRow__:hover {
  background-color: lightgray;
  border-radius: 10px;
}

.sidebarRow__ > h4 {
  margin-left: 20px;
  font-weight: 600;
}

.sidebarRow__ > .MuiSvgIcon-root {
  font-size: xx-large;
  color: #2e81f4;
}
